.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 28px;
    margin-bottom: 10px;

    background: #141418;
    /* Black Secondary */
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
}

.logoText {
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    margin-left: 10px;

    background: linear-gradient(135deg, #ff6a00, #ff3b1f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 12px rgba(255, 106, 0, 0.35);
}

.links {
    display: flex;
    gap: 24px;
    margin-right: 10px;
    margin-top: 8px;
}

.link {
    position: relative;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #a1a1aa;
    /* Light Gray */
    text-decoration: none;

    transition: all 0.2s ease;
}

.link:hover {
    color: #f5f5f5;
}

/* underline glow animation */
.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.01px;

    width: 0%;
    height: 2px;

    background: linear-gradient(135deg, #ff6a00, #ff3b1f);
    box-shadow: 0 0 8px rgba(255, 106, 0, 0.6);

    transition: width 0.2s ease;
}

.link:hover::after {
    width: 100%;
}

.active {
    color: #ffffff;
}

.active::after {
    width: 100%;
}